<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :username %>
        </div>
        <div class="col-md-12">
          <%= f.text_field :username, class: "form-control", placeholder: "Username", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :password %><br/>
          </div>
          <div class="col-md-12">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
      </div>

      <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :email %><br/>
          </div>
          <div class="col-md-12">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <%= f.submit "Sign up", class:"btn btn-primary btn-xlarge" %>
        </div>
      </div>

      <div class="col-md-8">
        [ <%= link_to "Return to Articles List", articles_path %> ]
      </div>

    <% end %>
  </div>
</div>
